/* .footerMainDiv{
    background-color:rgb(163, 0, 0);
   height: 80px;
 }
 .footerLogo{
    width: 80vm;
    bottom: 0;
    width: 5%;
    align-content: right;
    height: 46px;
    margin-right: 400px;
    margin-top:20px;
    margin-left:10px;
    margin-bottom: 1px;
    margin-inline-start: 4px;
    margin-bottom: 12px;
 }
 .rights{
    color: white;
    margin-left: -100px;
    margin-top: -60px;
    font-size: 70%;
 }
 .cookie{
    color:white;
    margin-top: -26px;
    margin-right: -200px;
    font-size: 70%;
 }
 .terms{
    color: white;
    font-size:70%;
    margin-top: -26px;
    margin-right: -370px;
 }
 .privacy{
    color: white;
    margin-top: -26px;
    margin-right: -550px;
    font-size: 70%;
 } */