/* .App {
  text-align: center;
} */

.mainCardImg {
  width: 40vw;
  height: auto;
}
.mainCardBodyDiv {
  width: 50vw;
  border-style: solid;
  border-color: black;
  margin-left: 10vh;
}

.middleCardsImg {
  width: 30vw;
  height: auto;
}
.bodyDivMiddleCards {
  width: 30vw;
  border-style: solid;
  border-color: black;
}
.smallCardsImg {
  width: 10vw;
}
.bodyDivSmallCards {
  /* display: flex; */
  flex-direction: column;
  border-style: solid;
  border-color: black;
  width: 20vw;
}

.grid1 {
  display: grid ;
  display: -ms-inline-grid;
}



.titleSmallCards  {
  font-size: 1vh;
}
.titleMiddleCards {
  font-size: 1.5vh;
}