.App {
  background-color: gainsboro;
}
/*FlexBox Stuff for the mainbodytags*/
.mainCardBodyDiv {
  display: flex;
  justify-content: center;
}

/* .Nataljaimg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */
.Jacobimg{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.secondSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.thirdSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fourthSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/*Moves everything more to center*/
 .firstSection, .secondSection, .thirdSection, .fourthSection{
   margin-left: 15vh;
   margin-right: 15vh;
 }
/*Natalja main story*/
.mainCardImg {
  width: 50%;
  height: auto;
  margin-top: 20vh;
  
}
.Nataljaimg {
margin-left: 28vh;
}
.mainCardBodyDiv {
  width: 60vw;
  height: 79vh;
  color: black;
  text-align: center;
  margin-bottom: 14vh;
}
.title {
  font-size: 3vh;
  background-color:rgb(177, 14, 14);
  margin-top: 20vh;
}

/*MiddleCards All Settings*/

.middleCardsImg {
  width: 25vw;
  height: auto;
}
.titleMiddleCards {
  font-size: 1.5vh;
  text-align: left;
}
.subMiddleCards {
  text-align: left;
  font-size: 2vh;
  color: rgb(177, 14, 14);
}
.middleCardsBorder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25vw;
  background-color: white;
}
.titleMiddleCards {
  font-size: 1.5vh;
  text-align: left;
  display: flex;
}
.titleMiddleCards, .subMiddleCards {
  margin-left: 1vh;
}

/*SmallCards All Settings*/

.smallCardsImg {
  width: 10vw;
  height: 15vh;
  margin-top: 2vh;
  margin-right: 1vh;
  margin-left: 0.5vh;
}
.smallCardsImg img {
  width: 100%;
  height: auto;
}
.bodyDivSmallCards {
  width: 25vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
  background-color: white;
}
.titleSmallCards  {
  font-size: 1vh;
  margin-top: 0.3vh;
  margin-right: 0.3vh;
}
.subSmallCards {
  font-size: 2vh;
  color: rgb(177, 14, 14);
}
.textSmallCards{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.Jacobimg, .secondSection, .thirdSection {
  margin-bottom: 13vh;
}
.babyAdImg {
  margin-top: 6vh;
}

 /*NavBars*/
 .navBarTop, .navBarBottom {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}
.linksAll {
  display: flex;
  justify-content: flex-end;
}
.navBarTop {
  background-color: rgb(177, 14, 14);
  position: fixed;
  width: 100%;
  z-index: 100;
  border-style: solid;
  display: flex;
  justify-content: space-between;
  height: 13vh;
}
.navBarLogo {
  width: 7vw;
}
.links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.links li {
  list-style-type: none;
  font-size: 3vh;
  display: flex;
  align-content: center;
}
.links a {
  text-decoration: none;
  color: white;
  padding: 2.2vw;
}
 a:hover {
  background-color: rgb(128, 15, 0);
}
.searchIcon {
  color: white;
  padding-left: 1vw;
}
.navBarTop .searchBar {
  margin-right: 2vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navBarBottom {
  padding-top: 5vh;
  text-align: center;
 /* background-color: white;*/
  padding-bottom: 2vh;
  justify-content: center;
}
.navBarBottom li {
  list-style-type: none;
  font-size: 2vh;
}
.navBarBottom a {
  color: black;
  font-size: 2.5vh;
}
.navBarBottom a {
  text-decoration: none;
}
.essentials, .usefulLinks, .followus {
  color: red;
  text-decoration: overline;;
  font-size: 3vh;
}
.icons {
  display: flex;
  justify-content: space-between;
}


 /* Footer */
 .footerLogo {
  width: 5vw;
  margin-right: 3vh;
}
.footerMainDiv {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(177, 14, 14);
  justify-content: center;
  color: white;
}
.rights, .cookie, .terms, .privacy {
  padding: 1.5vh;
}

  /* Ads pictures  */
  
  .Southcodersimg {
    width: 19vw;
    height: 40vh;
  }
  .Southcodersimg img {
    width: 100%;
    height: auto;
  }
  .Southcodersimg2 {
    width: 19vw;
    height: 40vh;
  }
  .Southcodersimg2 img {
    width: 100%;
    height: auto;
  }
  /*.BabyAd {
    width: 19vw;
    height: 40vh;
  }
  .BabyAd{
    width: 100%;
    height: auto;
  }*/

  
  @media only screen and (max-width: 700px) {
    .Nataljaimg .Jacobimg, .Nickyimg, .Jacobgbimg, .Hamzaimg, .Vickyimg, .Maarjaimg, .FirstAdds, .Telmoimg, .Spicyimg, .sharpImg, .secondSection, .thirdSection, .fourthSection {
      display: flex;
      flex-direction: column;
      align-content: center;
      /* justify-content: center; */
    }

    .secondSection{
      padding-top: 3vh;
     
    }

    .mainCardBodyDiv, .bodyDivMiddleCards, .adCardsImag, .bodyDivSmallCards {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 3vh 0vh;
      /* padding-bottom: 30px; */
      width: 70%;
      height: 46vh;
      
      background-color: white;
    
    }
    .babyAdImg {
      margin-bottom: 15vh;
    }
    .Jacobimg, .Nickyimg, .Jacobgcimg, .Hamzaimg, .Vickyimg, .Telmoimg, .FirstAdds {
      margin-bottom: 12vh;
    }
    .bodyDivSmallCards, .Vickyimg, .Jacobgcimg, .Telmoimg, .sharpImg, .Southcodersimg, .Southcodersimg2{
      margin-left: 15%;
    }
    .Southcodersimg2, .Southcodersimg {
      margin-bottom: 6vh;
    }
    .Southcodersimg, .Southcodersimg2 {
      width: 70%;
    }
    .img-size {
      width: 100%;
      height: 75%;
    }

    .img-size img{
      width: 100%;
      height: 80%;
    }
    .middleCardsImg, .middleCardsBorder, .mainCardImg, .title  {
      width: 50vh;
    }
    .smallCardsImg, .textSmallCards {
      /* width: 50vh; */
      height: auto;

    }
  }


 /*Other pages*/
 .classOne, .classTwo, .classThree {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 5vh;
}
.div {
  margin-left: 34vh;
}
